In [79]:
import pandas as pd
import datetime as dt
from pandas_datareader import data
from pandas.tseries import offsets

In [3]:
someday = dt.date(2010, 1, 10)

In [4]:
someday.year
someday.month
someday.day

10

In [5]:
str(someday)

'2010-01-10'

In [6]:
dt.datetime(2010, 1, 10, 16, 7, 57)

datetime.datetime(2010, 1, 10, 16, 7, 57)

In [7]:
sometime = dt.datetime(2010, 1, 10, 16, 7, 57)

In [8]:
sometime.year
sometime.second

57

In [9]:
str(sometime)

'2010-01-10 16:07:57'

In [12]:
pd.Timestamp('2015/02/13')
pd.Timestamp('2015-02-13')
pd.Timestamp('2013, 11, 4')
pd.Timestamp('1/1/2015')
pd.Timestamp('19/12/2015') #estos dos son
pd.Timestamp('12/19/2015') #iguales, pandas lo detecta
pd.Timestamp('4/3/2000')
pd.Timestamp('2021-03-08 08:35:27')
pd.Timestamp('2021-03-08 06:20:45 PM')

Timestamp('2021-03-08 18:20:45')

In [13]:
pd.Timestamp(dt.date(2020, 11, 15))

Timestamp('2020-11-15 00:00:00')

In [14]:
pd.Timestamp(dt.datetime(2020, 11, 10, 8, 40, 12))

Timestamp('2020-11-10 08:40:12')

In [15]:
dates = ['2012-10-9', '2011-3-19', '2009-10-1']

In [16]:
pd.DatetimeIndex(dates)

DatetimeIndex(['2012-10-09', '2011-03-19', '2009-10-01'], dtype='datetime64[ns]', freq=None)

In [17]:
dates = [dt.date(2021, 10, 1), dt.date(2012, 3, 14), dt.date(2013, 5, 10)]

In [20]:
date_index = pd.DatetimeIndex(dates)

In [21]:
values = [100, 200, 300]
pd.Series(data=values, index=date_index)

2021-10-01    100
2012-03-14    200
2013-05-10    300
dtype: int64

In [27]:
pd.to_datetime("2012-2-12")
pd.to_datetime(dt.date(2012, 2, 12))
pd.to_datetime(dt.datetime(2012, 2, 13, 8, 45, 50))

Timestamp('2012-02-13 08:45:50')

In [28]:
pd.to_datetime(['2015-4-5', '2016', 'July 4th, 2013'])

DatetimeIndex(['2015-04-05', '2016-01-01', '2013-07-04'], dtype='datetime64[ns]', freq=None)

In [30]:
times = pd.Series(['2015-4-5', '2016', 'July 4th, 2013'])
times

0          2015-4-5
1              2016
2    July 4th, 2013
dtype: object

In [31]:
pd.to_datetime(times)

0   2015-04-05
1   2016-01-01
2   2013-07-04
dtype: datetime64[ns]

In [33]:
dates = pd.Series(['2015-4-5', '2016', 'Hello', 'July 4th, 2013'])
dates

0          2015-4-5
1              2016
2             Hello
3    July 4th, 2013
dtype: object

In [34]:
pd.to_datetime(dates)

ParserError: Unknown string format: Hello

In [36]:
pd.to_datetime(dates, errors='coerce') #coerce fuerza a convertir y sino lo convierte queda como NaT, not a timestamp

0   2015-04-05
1   2016-01-01
2          NaT
3   2013-07-04
dtype: datetime64[ns]

In [39]:
pd.to_datetime([1347720105, 1349806505], unit='s') #convierte tambien tiempo en formato unix

DatetimeIndex(['2012-09-15 14:41:45', '2012-10-09 18:15:05'], dtype='datetime64[ns]', freq=None)

In [40]:
pd.date_range(start='2016-01-01', end='2016-01-10', freq='D') #el parametro freq cambia la distancia entre stamps

DatetimeIndex(['2016-01-01', '2016-01-02', '2016-01-03', '2016-01-04',
               '2016-01-05', '2016-01-06', '2016-01-07', '2016-01-08',
               '2016-01-09', '2016-01-10'],
              dtype='datetime64[ns]', freq='D')

In [41]:
pd.date_range(start='2016-01-01', end='2016-01-10', freq='2D')

DatetimeIndex(['2016-01-01', '2016-01-03', '2016-01-05', '2016-01-07',
               '2016-01-09'],
              dtype='datetime64[ns]', freq='2D')

In [43]:
pd.date_range(start='2016-01-01', end='2016-01-10', freq='B')
# business days

DatetimeIndex(['2016-01-01', '2016-01-04', '2016-01-05', '2016-01-06',
               '2016-01-07', '2016-01-08'],
              dtype='datetime64[ns]', freq='B')

In [44]:
pd.date_range(start='2016-01-01', end='2016-01-15', freq='W')
# W por defecto cada domingo de la semana

DatetimeIndex(['2016-01-03', '2016-01-10'], dtype='datetime64[ns]', freq='W-SUN')

In [45]:
pd.date_range(start='2016-01-01', end='2016-01-15', freq='W-FRI')
#cada viernes de la semana

DatetimeIndex(['2016-01-01', '2016-01-08', '2016-01-15'], dtype='datetime64[ns]', freq='W-FRI')

In [46]:
pd.date_range(start='2016-01-01', end='2016-01-15', freq='H') #cada hora

DatetimeIndex(['2016-01-01 00:00:00', '2016-01-01 01:00:00',
               '2016-01-01 02:00:00', '2016-01-01 03:00:00',
               '2016-01-01 04:00:00', '2016-01-01 05:00:00',
               '2016-01-01 06:00:00', '2016-01-01 07:00:00',
               '2016-01-01 08:00:00', '2016-01-01 09:00:00',
               ...
               '2016-01-14 15:00:00', '2016-01-14 16:00:00',
               '2016-01-14 17:00:00', '2016-01-14 18:00:00',
               '2016-01-14 19:00:00', '2016-01-14 20:00:00',
               '2016-01-14 21:00:00', '2016-01-14 22:00:00',
               '2016-01-14 23:00:00', '2016-01-15 00:00:00'],
              dtype='datetime64[ns]', length=337, freq='H')

In [47]:
pd.date_range(start='2016-01-01', end='2016-01-15', freq='6H') # cada 6 horas

DatetimeIndex(['2016-01-01 00:00:00', '2016-01-01 06:00:00',
               '2016-01-01 12:00:00', '2016-01-01 18:00:00',
               '2016-01-02 00:00:00', '2016-01-02 06:00:00',
               '2016-01-02 12:00:00', '2016-01-02 18:00:00',
               '2016-01-03 00:00:00', '2016-01-03 06:00:00',
               '2016-01-03 12:00:00', '2016-01-03 18:00:00',
               '2016-01-04 00:00:00', '2016-01-04 06:00:00',
               '2016-01-04 12:00:00', '2016-01-04 18:00:00',
               '2016-01-05 00:00:00', '2016-01-05 06:00:00',
               '2016-01-05 12:00:00', '2016-01-05 18:00:00',
               '2016-01-06 00:00:00', '2016-01-06 06:00:00',
               '2016-01-06 12:00:00', '2016-01-06 18:00:00',
               '2016-01-07 00:00:00', '2016-01-07 06:00:00',
               '2016-01-07 12:00:00', '2016-01-07 18:00:00',
               '2016-01-08 00:00:00', '2016-01-08 06:00:00',
               '2016-01-08 12:00:00', '2016-01-08 18:00:00',
               '2016-01-09 00:00:00', '2016-01-09 06:00:00',
               '2016-01-09 12:00:00', '2016-01-09 18:00:00',
               '2016-01-10 00:00:00', '2016-01-10 06:00:00',
               '2016-01-10 12:00:00', '2016-01-10 18:00:00',
               '2016-01-11 00:00:00', '2016-01-11 06:00:00',
               '2016-01-11 12:00:00', '2016-01-11 18:00:00',
               '2016-01-12 00:00:00', '2016-01-12 06:00:00',
               '2016-01-12 12:00:00', '2016-01-12 18:00:00',
               '2016-01-13 00:00:00', '2016-01-13 06:00:00',
               '2016-01-13 12:00:00', '2016-01-13 18:00:00',
               '2016-01-14 00:00:00', '2016-01-14 06:00:00',
               '2016-01-14 12:00:00', '2016-01-14 18:00:00',
               '2016-01-15 00:00:00'],
              dtype='datetime64[ns]', freq='6H')

In [50]:
pd.date_range(start='2016-01-01', end='2016-12-31', freq='M') #cada final de mes

DatetimeIndex(['2016-01-31', '2016-02-29', '2016-03-31', '2016-04-30',
               '2016-05-31', '2016-06-30', '2016-07-31', '2016-08-31',
               '2016-09-30', '2016-10-31', '2016-11-30', '2016-12-31'],
              dtype='datetime64[ns]', freq='M')

In [51]:
pd.date_range(start='2016-01-01', end='2016-12-31', freq='MS') #cada principio de mes

DatetimeIndex(['2016-01-01', '2016-02-01', '2016-03-01', '2016-04-01',
               '2016-05-01', '2016-06-01', '2016-07-01', '2016-08-01',
               '2016-09-01', '2016-10-01', '2016-11-01', '2016-12-01'],
              dtype='datetime64[ns]', freq='MS')

In [52]:
pd.date_range(start='2016-01-01', end='2050-12-31', freq='A') #cada final de a√±o

DatetimeIndex(['2016-12-31', '2017-12-31', '2018-12-31', '2019-12-31',
               '2020-12-31', '2021-12-31', '2022-12-31', '2023-12-31',
               '2024-12-31', '2025-12-31', '2026-12-31', '2027-12-31',
               '2028-12-31', '2029-12-31', '2030-12-31', '2031-12-31',
               '2032-12-31', '2033-12-31', '2034-12-31', '2035-12-31',
               '2036-12-31', '2037-12-31', '2038-12-31', '2039-12-31',
               '2040-12-31', '2041-12-31', '2042-12-31', '2043-12-31',
               '2044-12-31', '2045-12-31', '2046-12-31', '2047-12-31',
               '2048-12-31', '2049-12-31', '2050-12-31'],
              dtype='datetime64[ns]', freq='A-DEC')

In [55]:
pd.date_range(start='2021-02-12', periods=90, freq='D')

DatetimeIndex(['2021-02-12', '2021-02-13', '2021-02-14', '2021-02-15',
               '2021-02-16', '2021-02-17', '2021-02-18', '2021-02-19',
               '2021-02-20', '2021-02-21', '2021-02-22', '2021-02-23',
               '2021-02-24', '2021-02-25', '2021-02-26', '2021-02-27',
               '2021-02-28', '2021-03-01', '2021-03-02', '2021-03-03',
               '2021-03-04', '2021-03-05', '2021-03-06', '2021-03-07',
               '2021-03-08', '2021-03-09', '2021-03-10', '2021-03-11',
               '2021-03-12', '2021-03-13', '2021-03-14', '2021-03-15',
               '2021-03-16', '2021-03-17', '2021-03-18', '2021-03-19',
               '2021-03-20', '2021-03-21', '2021-03-22', '2021-03-23',
               '2021-03-24', '2021-03-25', '2021-03-26', '2021-03-27',
               '2021-03-28', '2021-03-29', '2021-03-30', '2021-03-31',
               '2021-04-01', '2021-04-02', '2021-04-03', '2021-04-04',
               '2021-04-05', '2021-04-06', '2021-04-07', '2021-04-08',
               '2021-04-09', '2021-04-10', '2021-04-11', '2021-04-12',
               '2021-04-13', '2021-04-14', '2021-04-15', '2021-04-16',
               '2021-04-17', '2021-04-18', '2021-04-19', '2021-04-20',
               '2021-04-21', '2021-04-22', '2021-04-23', '2021-04-24',
               '2021-04-25', '2021-04-26', '2021-04-27', '2021-04-28',
               '2021-04-29', '2021-04-30', '2021-05-01', '2021-05-02',
               '2021-05-03', '2021-05-04', '2021-05-05', '2021-05-06',
               '2021-05-07', '2021-05-08', '2021-05-09', '2021-05-10',
               '2021-05-11', '2021-05-12'],
              dtype='datetime64[ns]', freq='D')

In [56]:
pd.date_range(start='2021-02-12', periods=50, freq='B')

DatetimeIndex(['2021-02-12', '2021-02-15', '2021-02-16', '2021-02-17',
               '2021-02-18', '2021-02-19', '2021-02-22', '2021-02-23',
               '2021-02-24', '2021-02-25', '2021-02-26', '2021-03-01',
               '2021-03-02', '2021-03-03', '2021-03-04', '2021-03-05',
               '2021-03-08', '2021-03-09', '2021-03-10', '2021-03-11',
               '2021-03-12', '2021-03-15', '2021-03-16', '2021-03-17',
               '2021-03-18', '2021-03-19', '2021-03-22', '2021-03-23',
               '2021-03-24', '2021-03-25', '2021-03-26', '2021-03-29',
               '2021-03-30', '2021-03-31', '2021-04-01', '2021-04-02',
               '2021-04-05', '2021-04-06', '2021-04-07', '2021-04-08',
               '2021-04-09', '2021-04-12', '2021-04-13', '2021-04-14',
               '2021-04-15', '2021-04-16', '2021-04-19', '2021-04-20',
               '2021-04-21', '2021-04-22'],
              dtype='datetime64[ns]', freq='B')

In [57]:
pd.date_range(start='2021-02-12', periods=50, freq='W')

DatetimeIndex(['2021-02-14', '2021-02-21', '2021-02-28', '2021-03-07',
               '2021-03-14', '2021-03-21', '2021-03-28', '2021-04-04',
               '2021-04-11', '2021-04-18', '2021-04-25', '2021-05-02',
               '2021-05-09', '2021-05-16', '2021-05-23', '2021-05-30',
               '2021-06-06', '2021-06-13', '2021-06-20', '2021-06-27',
               '2021-07-04', '2021-07-11', '2021-07-18', '2021-07-25',
               '2021-08-01', '2021-08-08', '2021-08-15', '2021-08-22',
               '2021-08-29', '2021-09-05', '2021-09-12', '2021-09-19',
               '2021-09-26', '2021-10-03', '2021-10-10', '2021-10-17',
               '2021-10-24', '2021-10-31', '2021-11-07', '2021-11-14',
               '2021-11-21', '2021-11-28', '2021-12-05', '2021-12-12',
               '2021-12-19', '2021-12-26', '2022-01-02', '2022-01-09',
               '2022-01-16', '2022-01-23'],
              dtype='datetime64[ns]', freq='W-SUN')

In [58]:
pd.date_range(start='2021-02-12', periods=50, freq='W-TUE')

DatetimeIndex(['2021-02-16', '2021-02-23', '2021-03-02', '2021-03-09',
               '2021-03-16', '2021-03-23', '2021-03-30', '2021-04-06',
               '2021-04-13', '2021-04-20', '2021-04-27', '2021-05-04',
               '2021-05-11', '2021-05-18', '2021-05-25', '2021-06-01',
               '2021-06-08', '2021-06-15', '2021-06-22', '2021-06-29',
               '2021-07-06', '2021-07-13', '2021-07-20', '2021-07-27',
               '2021-08-03', '2021-08-10', '2021-08-17', '2021-08-24',
               '2021-08-31', '2021-09-07', '2021-09-14', '2021-09-21',
               '2021-09-28', '2021-10-05', '2021-10-12', '2021-10-19',
               '2021-10-26', '2021-11-02', '2021-11-09', '2021-11-16',
               '2021-11-23', '2021-11-30', '2021-12-07', '2021-12-14',
               '2021-12-21', '2021-12-28', '2022-01-04', '2022-01-11',
               '2022-01-18', '2022-01-25'],
              dtype='datetime64[ns]', freq='W-TUE')

In [59]:
pd.date_range(start='2021-02-12', periods=50, freq='A')

DatetimeIndex(['2021-12-31', '2022-12-31', '2023-12-31', '2024-12-31',
               '2025-12-31', '2026-12-31', '2027-12-31', '2028-12-31',
               '2029-12-31', '2030-12-31', '2031-12-31', '2032-12-31',
               '2033-12-31', '2034-12-31', '2035-12-31', '2036-12-31',
               '2037-12-31', '2038-12-31', '2039-12-31', '2040-12-31',
               '2041-12-31', '2042-12-31', '2043-12-31', '2044-12-31',
               '2045-12-31', '2046-12-31', '2047-12-31', '2048-12-31',
               '2049-12-31', '2050-12-31', '2051-12-31', '2052-12-31',
               '2053-12-31', '2054-12-31', '2055-12-31', '2056-12-31',
               '2057-12-31', '2058-12-31', '2059-12-31', '2060-12-31',
               '2061-12-31', '2062-12-31', '2063-12-31', '2064-12-31',
               '2065-12-31', '2066-12-31', '2067-12-31', '2068-12-31',
               '2069-12-31', '2070-12-31'],
              dtype='datetime64[ns]', freq='A-DEC')

In [60]:
pd.date_range(start='2021-02-12', periods=50, freq='6H')

DatetimeIndex(['2021-02-12 00:00:00', '2021-02-12 06:00:00',
               '2021-02-12 12:00:00', '2021-02-12 18:00:00',
               '2021-02-13 00:00:00', '2021-02-13 06:00:00',
               '2021-02-13 12:00:00', '2021-02-13 18:00:00',
               '2021-02-14 00:00:00', '2021-02-14 06:00:00',
               '2021-02-14 12:00:00', '2021-02-14 18:00:00',
               '2021-02-15 00:00:00', '2021-02-15 06:00:00',
               '2021-02-15 12:00:00', '2021-02-15 18:00:00',
               '2021-02-16 00:00:00', '2021-02-16 06:00:00',
               '2021-02-16 12:00:00', '2021-02-16 18:00:00',
               '2021-02-17 00:00:00', '2021-02-17 06:00:00',
               '2021-02-17 12:00:00', '2021-02-17 18:00:00',
               '2021-02-18 00:00:00', '2021-02-18 06:00:00',
               '2021-02-18 12:00:00', '2021-02-18 18:00:00',
               '2021-02-19 00:00:00', '2021-02-19 06:00:00',
               '2021-02-19 12:00:00', '2021-02-19 18:00:00',
               '2021-02-20 00:00:00', '2021-02-20 06:00:00',
               '2021-02-20 12:00:00', '2021-02-20 18:00:00',
               '2021-02-21 00:00:00', '2021-02-21 06:00:00',
               '2021-02-21 12:00:00', '2021-02-21 18:00:00',
               '2021-02-22 00:00:00', '2021-02-22 06:00:00',
               '2021-02-22 12:00:00', '2021-02-22 18:00:00',
               '2021-02-23 00:00:00', '2021-02-23 06:00:00',
               '2021-02-23 12:00:00', '2021-02-23 18:00:00',
               '2021-02-24 00:00:00', '2021-02-24 06:00:00'],
              dtype='datetime64[ns]', freq='6H')

In [61]:
pd.date_range(end='1999-12-31', periods=20, freq='D')

DatetimeIndex(['1999-12-12', '1999-12-13', '1999-12-14', '1999-12-15',
               '1999-12-16', '1999-12-17', '1999-12-18', '1999-12-19',
               '1999-12-20', '1999-12-21', '1999-12-22', '1999-12-23',
               '1999-12-24', '1999-12-25', '1999-12-26', '1999-12-27',
               '1999-12-28', '1999-12-29', '1999-12-30', '1999-12-31'],
              dtype='datetime64[ns]', freq='D')

In [62]:
pd.date_range(end='1999-12-31', periods=40, freq='B')

DatetimeIndex(['1999-11-08', '1999-11-09', '1999-11-10', '1999-11-11',
               '1999-11-12', '1999-11-15', '1999-11-16', '1999-11-17',
               '1999-11-18', '1999-11-19', '1999-11-22', '1999-11-23',
               '1999-11-24', '1999-11-25', '1999-11-26', '1999-11-29',
               '1999-11-30', '1999-12-01', '1999-12-02', '1999-12-03',
               '1999-12-06', '1999-12-07', '1999-12-08', '1999-12-09',
               '1999-12-10', '1999-12-13', '1999-12-14', '1999-12-15',
               '1999-12-16', '1999-12-17', '1999-12-20', '1999-12-21',
               '1999-12-22', '1999-12-23', '1999-12-24', '1999-12-27',
               '1999-12-28', '1999-12-29', '1999-12-30', '1999-12-31'],
              dtype='datetime64[ns]', freq='B')

In [63]:
pd.date_range(end='1999-12-31', periods=40, freq='W')

DatetimeIndex(['1999-03-28', '1999-04-04', '1999-04-11', '1999-04-18',
               '1999-04-25', '1999-05-02', '1999-05-09', '1999-05-16',
               '1999-05-23', '1999-05-30', '1999-06-06', '1999-06-13',
               '1999-06-20', '1999-06-27', '1999-07-04', '1999-07-11',
               '1999-07-18', '1999-07-25', '1999-08-01', '1999-08-08',
               '1999-08-15', '1999-08-22', '1999-08-29', '1999-09-05',
               '1999-09-12', '1999-09-19', '1999-09-26', '1999-10-03',
               '1999-10-10', '1999-10-17', '1999-10-24', '1999-10-31',
               '1999-11-07', '1999-11-14', '1999-11-21', '1999-11-28',
               '1999-12-05', '1999-12-12', '1999-12-19', '1999-12-26'],
              dtype='datetime64[ns]', freq='W-SUN')

In [64]:
pd.date_range(end='1999-12-31', periods=40, freq='W-FRI')

DatetimeIndex(['1999-04-02', '1999-04-09', '1999-04-16', '1999-04-23',
               '1999-04-30', '1999-05-07', '1999-05-14', '1999-05-21',
               '1999-05-28', '1999-06-04', '1999-06-11', '1999-06-18',
               '1999-06-25', '1999-07-02', '1999-07-09', '1999-07-16',
               '1999-07-23', '1999-07-30', '1999-08-06', '1999-08-13',
               '1999-08-20', '1999-08-27', '1999-09-03', '1999-09-10',
               '1999-09-17', '1999-09-24', '1999-10-01', '1999-10-08',
               '1999-10-15', '1999-10-22', '1999-10-29', '1999-11-05',
               '1999-11-12', '1999-11-19', '1999-11-26', '1999-12-03',
               '1999-12-10', '1999-12-17', '1999-12-24', '1999-12-31'],
              dtype='datetime64[ns]', freq='W-FRI')

In [65]:
pd.date_range(end='1999-12-31', periods=40, freq='M')

DatetimeIndex(['1996-09-30', '1996-10-31', '1996-11-30', '1996-12-31',
               '1997-01-31', '1997-02-28', '1997-03-31', '1997-04-30',
               '1997-05-31', '1997-06-30', '1997-07-31', '1997-08-31',
               '1997-09-30', '1997-10-31', '1997-11-30', '1997-12-31',
               '1998-01-31', '1998-02-28', '1998-03-31', '1998-04-30',
               '1998-05-31', '1998-06-30', '1998-07-31', '1998-08-31',
               '1998-09-30', '1998-10-31', '1998-11-30', '1998-12-31',
               '1999-01-31', '1999-02-28', '1999-03-31', '1999-04-30',
               '1999-05-31', '1999-06-30', '1999-07-31', '1999-08-31',
               '1999-09-30', '1999-10-31', '1999-11-30', '1999-12-31'],
              dtype='datetime64[ns]', freq='M')

In [66]:
pd.date_range(end='1999-12-31', periods=40, freq='MS')

DatetimeIndex(['1996-09-01', '1996-10-01', '1996-11-01', '1996-12-01',
               '1997-01-01', '1997-02-01', '1997-03-01', '1997-04-01',
               '1997-05-01', '1997-06-01', '1997-07-01', '1997-08-01',
               '1997-09-01', '1997-10-01', '1997-11-01', '1997-12-01',
               '1998-01-01', '1998-02-01', '1998-03-01', '1998-04-01',
               '1998-05-01', '1998-06-01', '1998-07-01', '1998-08-01',
               '1998-09-01', '1998-10-01', '1998-11-01', '1998-12-01',
               '1999-01-01', '1999-02-01', '1999-03-01', '1999-04-01',
               '1999-05-01', '1999-06-01', '1999-07-01', '1999-08-01',
               '1999-09-01', '1999-10-01', '1999-11-01', '1999-12-01'],
              dtype='datetime64[ns]', freq='MS')

In [67]:
pd.date_range(end='1999-12-31', periods=40, freq='7H')

DatetimeIndex(['1999-12-19 15:00:00', '1999-12-19 22:00:00',
               '1999-12-20 05:00:00', '1999-12-20 12:00:00',
               '1999-12-20 19:00:00', '1999-12-21 02:00:00',
               '1999-12-21 09:00:00', '1999-12-21 16:00:00',
               '1999-12-21 23:00:00', '1999-12-22 06:00:00',
               '1999-12-22 13:00:00', '1999-12-22 20:00:00',
               '1999-12-23 03:00:00', '1999-12-23 10:00:00',
               '1999-12-23 17:00:00', '1999-12-24 00:00:00',
               '1999-12-24 07:00:00', '1999-12-24 14:00:00',
               '1999-12-24 21:00:00', '1999-12-25 04:00:00',
               '1999-12-25 11:00:00', '1999-12-25 18:00:00',
               '1999-12-26 01:00:00', '1999-12-26 08:00:00',
               '1999-12-26 15:00:00', '1999-12-26 22:00:00',
               '1999-12-27 05:00:00', '1999-12-27 12:00:00',
               '1999-12-27 19:00:00', '1999-12-28 02:00:00',
               '1999-12-28 09:00:00', '1999-12-28 16:00:00',
               '1999-12-28 23:00:00', '1999-12-29 06:00:00',
               '1999-12-29 13:00:00', '1999-12-29 20:00:00',
               '1999-12-30 03:00:00', '1999-12-30 10:00:00',
               '1999-12-30 17:00:00', '1999-12-31 00:00:00'],
              dtype='datetime64[ns]', freq='7H')

In [31]:
various_dates = pd.date_range(start='2001-01-11', end='2010-12-31', freq='24D')
various_dates

DatetimeIndex(['2001-01-11', '2001-02-04', '2001-02-28', '2001-03-24',
               '2001-04-17', '2001-05-11', '2001-06-04', '2001-06-28',
               '2001-07-22', '2001-08-15',
               ...
               '2010-05-12', '2010-06-05', '2010-06-29', '2010-07-23',
               '2010-08-16', '2010-09-09', '2010-10-03', '2010-10-27',
               '2010-11-20', '2010-12-14'],
              dtype='datetime64[ns]', length=152, freq='24D')

In [32]:
s = pd.Series(various_dates)
s

0     2001-01-11
1     2001-02-04
2     2001-02-28
3     2001-03-24
4     2001-04-17
         ...
147   2010-09-09
148   2010-10-03
149   2010-10-27
150   2010-11-20
151   2010-12-14
Length: 152, dtype: datetime64[ns]

In [33]:
s.dt.day #dt se necesita cuando es una serie de timestamp

0      11
1       4
2      28
3      24
4      17
       ..
147     9
148     3
149    27
150    20
151    14
Length: 152, dtype: int64

In [72]:
s.dt.month

0       1
1       2
2       2
3       3
4       4
       ..
147     9
148    10
149    10
150    11
151    12
Length: 152, dtype: int64

In [73]:
s.dt.weekday

0      3
1      6
2      2
3      5
4      1
      ..
147    3
148    6
149    2
150    5
151    1
Length: 152, dtype: int64

In [74]:
s.dt.is_quarter_start

0      False
1      False
2      False
3      False
4      False
       ...
147    False
148    False
149    False
150    False
151    False
Length: 152, dtype: bool

In [75]:
mask = s.dt.is_quarter_start
s[mask]

30   2003-01-01
49   2004-04-01
68   2005-07-01
dtype: datetime64[ns]

In [76]:
mask = s.dt.is_month_start
s[mask]

30    2003-01-01
35    2003-05-01
49    2004-04-01
68    2005-07-01
101   2007-09-01
134   2009-11-01
139   2010-03-01
dtype: datetime64[ns]

In [77]:
mask = s.dt.is_month_end
s[mask]

2     2001-02-28
87    2006-09-30
120   2008-11-30
dtype: datetime64[ns]

In [3]:
msft = data.DataReader(name='MSFT', data_source='yahoo', start='2010-01-01')
msft.head()

                 High        Low       Open      Close      Volume  Adj Close
Date
2010-01-04  31.100000  30.590000  30.620001  30.950001  38409100.0  24.049969
2010-01-05  31.100000  30.639999  30.850000  30.959999  49749600.0  24.057743
2010-01-06  31.080000  30.520000  30.879999  30.770000  58182400.0  23.910097
2010-01-07  30.700001  30.190001  30.629999  30.450001  50559700.0  23.661432
2010-01-08  30.879999  30.240000  30.280001  30.660000  51197400.0  23.824627

In [7]:
msft.values
msft.columns
msft.index
msft.axes

[DatetimeIndex(['2010-01-04', '2010-01-05', '2010-01-06', '2010-01-07',
                '2010-01-08', '2010-01-11', '2010-01-12', '2010-01-13',
                '2010-01-14', '2010-01-15',
                ...
                '2021-04-12', '2021-04-13', '2021-04-14', '2021-04-15',
                '2021-04-16', '2021-04-19', '2021-04-20', '2021-04-21',
                '2021-04-22', '2021-04-23'],
               dtype='datetime64[ns]', name='Date', length=2846, freq=None),
 Index(['High', 'Low', 'Open', 'Close', 'Volume', 'Adj Close'], dtype='object')]

In [12]:
msft.loc['2010-01-04']
msft.loc[pd.Timestamp('2010-01-04')]

High         3.110000e+01
Low          3.059000e+01
Open         3.062000e+01
Close        3.095000e+01
Volume       3.840910e+07
Adj Close    2.404997e+01
Name: 2010-01-04 00:00:00, dtype: float64

In [15]:
msft.iloc[0]
msft.iloc[500]
msft.iloc[-1]

High         2.615100e+02
Low          2.572700e+02
Open         2.578800e+02
Close        2.611500e+02
Volume       2.146260e+07
Adj Close    2.611500e+02
Name: 2021-04-23 00:00:00, dtype: float64

In [16]:
msft.loc[[pd.Timestamp('2010-01-04'), pd.Timestamp('2010-01-05')]]

            High        Low       Open      Close      Volume  Adj Close
Date
2010-01-04  31.1  30.590000  30.620001  30.950001  38409100.0  24.049969
2010-01-05  31.1  30.639999  30.850000  30.959999  49749600.0  24.057743

In [17]:
msft.iloc[[1, 10, 50]]

                 High        Low   Open      Close      Volume  Adj Close
Date
2010-01-05  31.100000  30.639999  30.85  30.959999  49749600.0  24.057743
2010-01-19  31.240000  30.680000  30.75  31.100000  46575700.0  24.166536
2010-03-17  29.870001  29.400000  29.50  29.629999  50385700.0  23.131914

In [19]:
msft.loc['2013-10-01':'2013-10-07']
msft.truncate(before='2013-10-01', after='2013-10-07')

                 High        Low       Open      Close      Volume  Adj Close
Date
2013-10-01  33.610001  33.299999  33.349998  33.580002  36718700.0  28.750885
2013-10-02  34.029999  33.290001  33.360001  33.919998  46946800.0  29.041988
2013-10-03  34.000000  33.419998  33.880001  33.860001  38703800.0  28.990610
2013-10-04  33.990002  33.619999  33.689999  33.880001  33008100.0  29.007736
2013-10-07  33.709999  33.200001  33.599998  33.299999  35069300.0  28.511145

In [20]:
msft.iloc[1000:1005]

                 High        Low       Open      Close      Volume  Adj Close
Date
2013-12-23  36.889999  36.549999  36.810001  36.619999  25128700.0  31.591484
2013-12-24  37.169998  36.639999  36.720001  37.080002  14243000.0  31.988323
2013-12-26  37.490002  37.169998  37.200001  37.439999  17612800.0  32.298882
2013-12-27  37.619999  37.169998  37.580002  37.290001  14563000.0  32.169479
2013-12-30  37.380001  36.900002  37.220001  37.290001  16290500.0  32.169479

In [24]:
birthdays = pd.date_range(start='1986-04-18', end='2021-12-31', freq=pd.DateOffset(years=1))
birthdays

DatetimeIndex(['1986-04-18', '1987-04-18', '1988-04-18', '1989-04-18',
               '1990-04-18', '1991-04-18', '1992-04-18', '1993-04-18',
               '1994-04-18', '1995-04-18', '1996-04-18', '1997-04-18',
               '1998-04-18', '1999-04-18', '2000-04-18', '2001-04-18',
               '2002-04-18', '2003-04-18', '2004-04-18', '2005-04-18',
               '2006-04-18', '2007-04-18', '2008-04-18', '2009-04-18',
               '2010-04-18', '2011-04-18', '2012-04-18', '2013-04-18',
               '2014-04-18', '2015-04-18', '2016-04-18', '2017-04-18',
               '2018-04-18', '2019-04-18', '2020-04-18', '2021-04-18'],
              dtype='datetime64[ns]', freq='<DateOffset: years=1>')

In [26]:
birthday_stocks = msft.index.isin(birthdays)
birthday_stocks

array([False, False, False, ..., False, False, False])

In [29]:
msft[birthday_stocks] #solo accede a una copia
msft.loc[birthday_stocks] #metodo preferido en caso de tener q modificar los datos originales

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2011-04-18,25.280001,24.719999,25.100000,25.080000,58045100.0,20.012121
2012-04-18,31.309999,31.040001,31.280001,31.139999,40552900.0,25.524765
2013-04-18,28.980000,28.500000,28.950001,28.790001,56906600.0,24.306793
2016-04-18,56.590000,55.209999,55.490002,56.459999,23786000.0,51.772221
2017-04-18,65.709999,65.160004,65.330002,65.389999,15155600.0,61.537777
2018-04-18,96.720001,95.519997,96.220001,96.440002,21043300.0,92.659195
2019-04-18,123.519997,121.300003,122.190002,123.370003,27991000.0,120.534180

In [38]:
someday = msft.index[500]
someday

Timestamp('2011-12-27 00:00:00')

In [39]:
someday.month
someday.week
someday.is_month_start
someday.is_month_end
someday.is_quarter_start
someday.is_quarter_end
someday.day

27

In [40]:
someday.month_name()

'December'

In [41]:
someday.day_name()

'Tuesday'

In [42]:
msft.index.day_name()

Index(['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Monday',
       'Tuesday', 'Wednesday', 'Thursday', 'Friday',
       ...
       'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Monday',
       'Tuesday', 'Wednesday', 'Thursday', 'Friday'],
      dtype='object', name='Date', length=2846)

In [53]:
msft_copy = msft.copy()

In [54]:
msft_copy.insert(0, 'Day of Week', msft.index.day_name())

In [48]:
msft_copy

,Day of Week,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,,
2010-01-04,Monday,31.100000,30.590000,30.620001,30.950001,38409100.0,24.049969
2010-01-05,Tuesday,31.100000,30.639999,30.850000,30.959999,49749600.0,24.057743
2010-01-06,Wednesday,31.080000,30.520000,30.879999,30.770000,58182400.0,23.910097
2010-01-07,Thursday,30.700001,30.190001,30.629999,30.450001,50559700.0,23.661432
2010-01-08,Friday,30.879999,30.240000,30.280001,30.660000,51197400.0,23.824627
...,...,...,...,...,...,...,...
2021-04-19,Monday,261.480011,257.820007,260.190002,258.739990,23195800.0,258.739990
2021-04-20,Tuesday,260.200012,256.839996,257.820007,258.260010,19712400.0,258.260010
2021-04-21,Wednesday,260.679993,257.250000,258.940002,260.579987,24030400.0,260.579987
2021-04-22,Thursday,261.779999,255.639999,260.209991,257.170013,25606200.0,257.170013
2021-04-23,Friday,261.510010,257.269989,257.880005,261.149994,21462600.0,261.149994

In [55]:
msft_copy.insert(1, 'Is start of month', msft.index.is_month_start)

In [56]:
msft_copy

,Day of Week,Is start of month,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,,,
2010-01-04,Monday,False,31.100000,30.590000,30.620001,30.950001,38409100.0,24.049969
2010-01-05,Tuesday,False,31.100000,30.639999,30.850000,30.959999,49749600.0,24.057743
2010-01-06,Wednesday,False,31.080000,30.520000,30.879999,30.770000,58182400.0,23.910097
2010-01-07,Thursday,False,30.700001,30.190001,30.629999,30.450001,50559700.0,23.661432
2010-01-08,Friday,False,30.879999,30.240000,30.280001,30.660000,51197400.0,23.824627
...,...,...,...,...,...,...,...,...
2021-04-19,Monday,False,261.480011,257.820007,260.190002,258.739990,23195800.0,258.739990
2021-04-20,Tuesday,False,260.200012,256.839996,257.820007,258.260010,19712400.0,258.260010
2021-04-21,Wednesday,False,260.679993,257.250000,258.940002,260.579987,24030400.0,260.579987
2021-04-22,Thursday,False,261.779999,255.639999,260.209991,257.170013,25606200.0,257.170013
2021-04-23,Friday,False,261.510010,257.269989,257.880005,261.149994,21462600.0,261.149994

In [57]:
msft_copy[msft_copy['Is start of month']]

,Day of Week,Is start of month,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,,,
2010-02-01,Monday,True,28.480000,27.920000,28.389999,28.410000,85931100.0,22.076241
2010-03-01,Monday,True,29.049999,28.530001,28.770000,29.020000,43805400.0,22.655703
2010-04-01,Thursday,True,29.540001,28.620001,29.350000,29.160000,74768100.0,22.764992
2010-06-01,Tuesday,True,26.309999,25.520000,25.530001,25.889999,76152400.0,20.303335
2010-07-01,Thursday,True,23.320000,22.730000,23.090000,23.160000,92239400.0,18.162430
...,...,...,...,...,...,...,...,...
2020-10-01,Thursday,True,213.990005,211.320007,213.490005,212.460007,27158400.0,211.418289
2020-12-01,Tuesday,True,217.320007,213.350006,214.509995,216.210007,30931300.0,215.713181
2021-02-01,Monday,True,242.500000,232.429993,235.059998,239.649994,33314200.0,239.099304
2021-03-01,Monday,True,237.470001,233.149994,235.899994,236.940002,25324000.0,236.940002
2021-04-01,Thursday,True,242.839996,238.050003,238.470001,242.350006,30312000.0,242.350006

In [59]:
msft.index

DatetimeIndex(['2010-01-04', '2010-01-05', '2010-01-06', '2010-01-07',
               '2010-01-08', '2010-01-11', '2010-01-12', '2010-01-13',
               '2010-01-14', '2010-01-15',
               ...
               '2021-04-12', '2021-04-13', '2021-04-14', '2021-04-15',
               '2021-04-16', '2021-04-19', '2021-04-20', '2021-04-21',
               '2021-04-22', '2021-04-23'],
              dtype='datetime64[ns]', name='Date', length=2846, freq=None)

In [62]:
msft.index + pd.DateOffset(days=5) #pd.DateOffset se utiliza para sumarle o restale tiempos a los timestamp

DatetimeIndex(['2010-01-09', '2010-01-10', '2010-01-11', '2010-01-12',
               '2010-01-13', '2010-01-16', '2010-01-17', '2010-01-18',
               '2010-01-19', '2010-01-20',
               ...
               '2021-04-17', '2021-04-18', '2021-04-19', '2021-04-20',
               '2021-04-21', '2021-04-24', '2021-04-25', '2021-04-26',
               '2021-04-27', '2021-04-28'],
              dtype='datetime64[ns]', name='Date', length=2846, freq=None)

In [60]:
msft.index - pd.DateOffset(days=5)

DatetimeIndex(['2009-12-30', '2009-12-31', '2010-01-01', '2010-01-02',
               '2010-01-03', '2010-01-06', '2010-01-07', '2010-01-08',
               '2010-01-09', '2010-01-10',
               ...
               '2021-04-07', '2021-04-08', '2021-04-09', '2021-04-10',
               '2021-04-11', '2021-04-14', '2021-04-15', '2021-04-16',
               '2021-04-17', '2021-04-18'],
              dtype='datetime64[ns]', name='Date', length=2846, freq=None)

In [61]:
msft.index + pd.DateOffset(weeks=2)

DatetimeIndex(['2010-01-18', '2010-01-19', '2010-01-20', '2010-01-21',
               '2010-01-22', '2010-01-25', '2010-01-26', '2010-01-27',
               '2010-01-28', '2010-01-29',
               ...
               '2021-04-26', '2021-04-27', '2021-04-28', '2021-04-29',
               '2021-04-30', '2021-05-03', '2021-05-04', '2021-05-05',
               '2021-05-06', '2021-05-07'],
              dtype='datetime64[ns]', name='Date', length=2846, freq=None)

In [64]:
msft.index + pd.DateOffset(years=1, months=3, days=10, hours=6, minutes=2, seconds=26)
#cuando con dateoffset se agregan elementos del timestamp como segundos minutos, esto modifica el timestamp agregando estos datos

DatetimeIndex(['2011-04-14 06:02:26', '2011-04-15 06:02:26',
               '2011-04-16 06:02:26', '2011-04-17 06:02:26',
               '2011-04-18 06:02:26', '2011-04-21 06:02:26',
               '2011-04-22 06:02:26', '2011-04-23 06:02:26',
               '2011-04-24 06:02:26', '2011-04-25 06:02:26',
               ...
               '2022-07-22 06:02:26', '2022-07-23 06:02:26',
               '2022-07-24 06:02:26', '2022-07-25 06:02:26',
               '2022-07-26 06:02:26', '2022-07-29 06:02:26',
               '2022-07-30 06:02:26', '2022-07-31 06:02:26',
               '2022-08-01 06:02:26', '2022-08-02 06:02:26'],
              dtype='datetime64[ns]', name='Date', length=2846, freq=None)

In [65]:
msft.index

DatetimeIndex(['2010-01-04', '2010-01-05', '2010-01-06', '2010-01-07',
               '2010-01-08', '2010-01-11', '2010-01-12', '2010-01-13',
               '2010-01-14', '2010-01-15',
               ...
               '2021-04-12', '2021-04-13', '2021-04-14', '2021-04-15',
               '2021-04-16', '2021-04-19', '2021-04-20', '2021-04-21',
               '2021-04-22', '2021-04-23'],
              dtype='datetime64[ns]', name='Date', length=2846, freq=None)

In [66]:
msft.index + pd.tseries.offsets.MonthEnd()

DatetimeIndex(['2010-01-31', '2010-01-31', '2010-01-31', '2010-01-31',
               '2010-01-31', '2010-01-31', '2010-01-31', '2010-01-31',
               '2010-01-31', '2010-01-31',
               ...
               '2021-04-30', '2021-04-30', '2021-04-30', '2021-04-30',
               '2021-04-30', '2021-04-30', '2021-04-30', '2021-04-30',
               '2021-04-30', '2021-04-30'],
              dtype='datetime64[ns]', name='Date', length=2846, freq=None)

In [72]:
msft.index[-17]

Timestamp('2021-03-31 00:00:00')

In [73]:
test = msft.index + pd.tseries.offsets.MonthEnd()

In [75]:
test[-17] #Atencion que estos offsets aun si la fecha cae a fin de mes o principio de mes el offset hace q se mueva
# en este caso la fecha era la anterior y al sumarle el offset lo mueve al siguiente mes

Timestamp('2021-04-30 00:00:00')

In [78]:
msft.index - pd.tseries.offsets.MonthEnd()

msft.index + pd.tseries.offsets.MonthBegin()
msft.index - pd.tseries.offsets.MonthBegin()

DatetimeIndex(['2010-01-01', '2010-01-01', '2010-01-01', '2010-01-01',
               '2010-01-01', '2010-01-01', '2010-01-01', '2010-01-01',
               '2010-01-01', '2010-01-01',
               ...
               '2021-04-01', '2021-04-01', '2021-04-01', '2021-04-01',
               '2021-04-01', '2021-04-01', '2021-04-01', '2021-04-01',
               '2021-04-01', '2021-04-01'],
              dtype='datetime64[ns]', name='Date', length=2846, freq=None)

In [80]:
msft.index + offsets.BusinessMonthEnd()

DatetimeIndex(['2010-01-29', '2010-01-29', '2010-01-29', '2010-01-29',
               '2010-01-29', '2010-01-29', '2010-01-29', '2010-01-29',
               '2010-01-29', '2010-01-29',
               ...
               '2021-04-30', '2021-04-30', '2021-04-30', '2021-04-30',
               '2021-04-30', '2021-04-30', '2021-04-30', '2021-04-30',
               '2021-04-30', '2021-04-30'],
              dtype='datetime64[ns]', name='Date', length=2846, freq=None)

In [81]:
msft.index + offsets.YearBegin()

DatetimeIndex(['2011-01-01', '2011-01-01', '2011-01-01', '2011-01-01',
               '2011-01-01', '2011-01-01', '2011-01-01', '2011-01-01',
               '2011-01-01', '2011-01-01',
               ...
               '2022-01-01', '2022-01-01', '2022-01-01', '2022-01-01',
               '2022-01-01', '2022-01-01', '2022-01-01', '2022-01-01',
               '2022-01-01', '2022-01-01'],
              dtype='datetime64[ns]', name='Date', length=2846, freq=None)

In [84]:
time_a = pd.Timestamp('2020-03-31 6:05:26AM')
time_b = pd.Timestamp('2020-03-20 2:04:54AM')

time_a - time_b

Timedelta('11 days 04:00:32')

In [85]:
time_b - time_a

Timedelta('-12 days +19:59:28')

In [87]:
pd.Timedelta(weeks=2, days=20, hours=10, minutes=40, seconds=10) #no permite a√±os

Timedelta('34 days 10:40:10')

In [88]:
pd.Timedelta('14 days 3 hours 6 minutes 10 seconds')

Timedelta('14 days 03:06:10')

In [91]:
shipping = pd.read_csv('ecommerce.csv', index_col='ID', parse_dates=['order_date', 'delivery_date'])
shipping.head()

   order_date delivery_date
ID
1  1998-05-24    1999-02-05
2  1992-04-22    1998-03-06
4  1991-02-10    1992-08-26
5  1992-07-21    1997-11-20
7  1993-09-02    1998-06-10

In [95]:
shipping['Delivery Time'] = shipping['delivery_date'] - shipping['order_date']
shipping.head()

   order_date delivery_date Delivery Time
ID
1  1998-05-24    1999-02-05      257 days
2  1992-04-22    1998-03-06     2144 days
4  1991-02-10    1992-08-26      563 days
5  1992-07-21    1997-11-20     1948 days
7  1993-09-02    1998-06-10     1742 days

In [97]:
shipping['Twice as long'] = shipping['delivery_date'] + shipping['Delivery Time']

In [98]:
shipping.head()

   order_date delivery_date Delivery Time Twice as long
ID
1  1998-05-24    1999-02-05      257 days    1999-10-20
2  1992-04-22    1998-03-06     2144 days    2004-01-18
4  1991-02-10    1992-08-26      563 days    1994-03-12
5  1992-07-21    1997-11-20     1948 days    2003-03-22
7  1993-09-02    1998-06-10     1742 days    2003-03-18

In [99]:
shipping.dtypes

order_date        datetime64[ns]
delivery_date     datetime64[ns]
Delivery Time    timedelta64[ns]
Twice as long     datetime64[ns]
dtype: object

In [101]:
mask = shipping['Delivery Time'] > '365 days'
shipping[mask]

    order_date delivery_date Delivery Time Twice as long
ID
2   1992-04-22    1998-03-06     2144 days    2004-01-18
4   1991-02-10    1992-08-26      563 days    1994-03-12
5   1992-07-21    1997-11-20     1948 days    2003-03-22
7   1993-09-02    1998-06-10     1742 days    2003-03-18
9   1990-01-25    1994-10-02     1711 days    1999-06-09
..         ...           ...           ...           ...
986 1990-12-10    1992-12-16      737 days    1994-12-23
990 1991-06-24    1996-02-02     1684 days    2000-09-12
991 1991-09-09    1998-03-30     2394 days    2004-10-18
993 1990-11-16    1998-04-27     2719 days    2005-10-06
997 1990-01-04    1991-10-03      637 days    1993-07-01

[394 rows x 4 columns]

In [102]:
shipping['Delivery Time'].mean()

Timedelta('1217 days 22:53:53.532934128')